* {
	box-sizing: border-box;
	font-family: 'Times New Roman', Times, serif
}
h2 {
	float: left;
	color:black;
	font-size: 24px;
	background-color: darkseagreen
}
.topnav {
	background-color:white;
	overflow: hidden;
  }
  .topnav a {
	float: right;
	color: black;
	text-align: center;
	padding: 20px 24px;
	font-size: 17px;
  }

body {
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    background-color: burlywood
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: auto;
	width: 960px;
}

img {
	float: left;
}

.About-Me {
	float: left;
}


section {
    float: left;
    background-color: grey
    width: 100%;
    color: grey;
   
}