body html {
		height: 100%;
	  }
	  
	  .bg { 
		/* The image used */
		background-image: url("/assets/images/palms.jpeg");
	  
		/* Full height */
		height: 100%; 
	  
		/* Center and scale the image nicely */
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	  }

#profileImage {
	height: 300px;
	width: 300px;
}
.contentCentered {
		position: fixed;
		top: 20%;
	  }
.mainHeading {
	float: left;
}

.aboutMeStyling {
	margin-top: 20%;
}