* {
	box-sizing: border-box;
	font-family: 'Times New Roman', Times, serif;
	border: 30bpx;
}

h2 {
	float: left;
	color:black;
	font-size: 24px;
	background-color: darkseagreen;
	padding: 10px;
}
.topnav {
	background-color:white;
	overflow: hidden;
  }
  .topnav a {
	float: right;
	color: black;
	text-align: center;
	padding: 20px 24px;
	font-size: 17px;
  }

body {
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(243, 241, 239);
    margin: auto;
	width: 960px;
}
img {
	float: left;
	margin-right: 10px;
}
.container_1 {
	width: 700px;
	height: 600px;
	margin-left: auto;
	margin-right: auto;
	padding: 30px;
	background-color: white;
	margin-top: 20px;
}

}
.About-Me {
	float: left;
}
section {
    float: left;
    width: 100%;
	color: grey;
	border: 10px;
	
   
}